---
layout: default
title: Blog
summary: The latest updates about Haveno
---

<div class="blog">
    <h1>Blog</h1>
    <p>The latest updates about Haveno. Read them here or add our <a href="{{ site.baseurl }}/feed.xml">RSS feed</a>.</p>
    
    <div class="blog-box-container">
        {% for post in paginator.posts %}
        <a href="{{ post.url }}" class="blog-pointer">
            <div class="blog-box shadow">
                <h2>{{ post.title }}</h2>
                <p class="date-post-blog">{{ post.date | date_to_string }}</p>
                <p>{{ post.excerpt }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- Pagination links -->
    <div class="pagination">
        <p class="paginator"><span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span></p>
        <p class="paginator">{% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">
            Previous
            </a>
        {% else %}
            <span> Previous</span>
        {% endif %}
        | 
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}</p>
    </div>
</div>
