<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8"/>
    <title>Haveno DEX</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta
            name="description"
            content="Decentralized exchange based on Monero and Tor"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="{{ site.keywords }}">

    <meta property="og:title" content="Haveno DEX"/>
    <meta property="og:description" content="Website of Haveno. The Monero-based DEX"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}/{{ page.url }}"/>
    <meta property="og:image" content="/assets/haveno_logo_landscape"/>

    <link rel="apple-touch-icon" href="/assets/icon.png"/>
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="rgb(38, 26, 43)"/>
  </head>

  <body>
     {{ content }}
  </body>

</html>